// Put the variable overrides here

$primary: #61b534;
$secondary: #fff;
$h3-font-size: 1.25;

$bg-light: white;

$green: #B0Fe76;

$input-padding-y: 0;
$input-padding-x: 0;
$input-border-width: 0;
$input-border-radius: 0;
$input-bg: transparent;
$input-color: $secondary;

$input-placeholder-color: lightgray;

$headings-color: $green;
$headings-font-family: Roboto;

$bg-secondary: #D0D7DD;

$thumbnail-border-width: 5px;
$thumbnail-border-color: $primary;
$img-border-radius: 0;

$text-muted: $secondary;

$hr-border-color: lightgray;
$table-border-width: transparent;