$primary: orange;
$secondary: rgba(150,150,150,1);

$gray: rgba(40,40,40,1);
$gray-300: rgba(150,150,150,1);

$body-bg: $gray;

$input-padding-y: 0;
$input-padding-x: 0;
$input-border-width: 0;
$input-border-radius: 0;
$input-bg: transparent;
$input-color: $secondary;

$input-placeholder-color: lightgray;

$headings-color: $primary;
$headings-font-family: Raleway;

$bg-secondary: #D0D7DD;

$thumbnail-border-width: 5px;
$thumbnail-border-color: $primary;
$img-border-radius: 0.3em;

$text-muted: $secondary;

$hr-border-color: $primary;
$table-border-width: transparent;

$breadcrumb-divider: " ";