@import "sapphire-gray/variables";
@import "bootstrap";
@import "common";

// Put any custom styles here

@import url('https://fonts.googleapis.com/css?family=Raleway');


.bg-side-panel {
  background-color: $gray-600;
}

.form-control-custom {
  color: $secondary;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #e6e6e6;
  background-color: transparent;
  &:focus, &:hover {
    border-color: #e6e6e6;
    box-shadow: none;
  }
}


label {
  color: #469cbf !important;
}

.btn-custom {
  border: 0;
  color: lightgray;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  border-radius: 0.6em !important;
  transition: 0.5s ease !important;
  &:hover, &:focus {
  color: $primary;
  border-color: $primary;
  outline: none;
  }
}

.discount-placeholder::placeholder {
  color: rgba(150,150,150,1);
}

.discountBtn {
  display: inline-block;
}

.text-style {
  font-family: Raleway;
}

.order-calculation-title {
  color: $primary;
}

.order-calculation-total {
  color: $white;
}

.currency {
  color: $secondary;
  font-size: 110%;
}

.dropdown-custom {
    position: relative;
    width: 100%;
    height: 60px;
    color: $primary;
    z-index: 100;
    display: block;
    border-radius: 0;
    background-color: $secondary;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    &:hover {
        text-decoration: none;
        color: white;
    }
}


@include media-breakpoint-up(md){
  .breadcrumb-custom {
    display: flex;
  }
  .dropdown-button {
    display: none;
  }
  #collapse-order-summary {
    display: block;
  }
}