// Put the variable overrides here

$primary: #4Cf7e9;
$secondary: #38afff;
$gray: #6c757d;

$input-padding-y: 0;
$input-padding-x: 0;
$input-border-width: 0;
$input-border-radius: 0;
$input-bg: transparent;
$input-color: $secondary;

$input-placeholder-color: lightgray;

$headings-color: $primary;
$headings-font-family: Raleway;

$bg-secondary: #D0D7DD;

$thumbnail-border-width: 5px;
$thumbnail-border-color: #4Cf7e9;
$img-border-radius: 0.3em;

$text-muted: $secondary;

$hr-border-color: lightgray;
$table-border-width: transparent;